
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    function processData(data) {
        alert(data);
    }
</script>
<h2>Index</h2>
    
 @Ajax.ActionLink("test", "GetJsonData",
                new AjaxOptions { 
                Url = Url.Action("GetJsonData"),
                OnSuccess = "processData"
                }); 